/******************************************************************************/
/*******************************  Format Styles *******************************/
/******************************************************************************/

.wrapper {

}
.content {
    padding: 20px;
    -webkit-app-region: no-drag;
}

/******************************************************************************/
/*******************************  Header Styles *******************************/
/******************************************************************************/

#header {
    color: #f5f5f5;
    background-image: url('../../../Assets/Images/banner.png');
    background-position: bottom;
    background-size: cover;
    background-color: #333;
    height: 190px;
    width: 100%;
    box-sizing: border-box;
    -webkit-user-select: none;
}

#controls {
    font-family: "OpenSansExtraBold";
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
    -webkit-app-region: no-drag;
} #controls ul {
    list-style: none;
    margin: 0;
    padding: 0;
} #controls ul li {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 16px;
    width: 18px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
} #controls ul li:hover {
    cursor: pointer;
    color: #09c;
}

#windowLanguage {
    background-image: url("../../../Assets/Images/Flags/us.png");
}
#windowMute {
    background-image: url('../../../Assets/Images/SpeakerOn.png');
}

#headerImage {
    background-image: url('../../../Assets/Images/launcherHeader.png');
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    box-sizing: border-box;
}

#playButton {
    position: relative;
    left: 120px;
    background-color: #ccc;
    height: 80px;
    width: 80px;
    margin-top: 120px;
    border: 2px solid #fff;
    border-radius: 1000px;
    z-index: 200;
    -webkit-app-region: no-drag;
} #playButton:hover {
    cursor: pointer;
    background-color: #333;
    -webkit-app-region: no-drag;
}

#navigation {
    background-color: #29B6F6;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.5);
    -webkit-user-select: none;
} #navigation ul {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    list-style: none;
} #navigation ul li {
    font-size: 13pt;
    color: #f5f5f5;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    border-bottom: 2px solid #fff;
    float: left;
    transition: all 0.35s;
    box-sizing: border-box;
    -webkit-app-region: no-drag;
} #navigation ul li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
} #navigation ul li:first-of-type {
    margin-left: 0;
}

/******************************************************************************/
/******************************  Content Styles *******************************/
/******************************************************************************/
