html, body {
    font-family: "OpenSansLight";
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #f2f2f2;
    -webkit-app-region: drag;
}

/******************************************************************************/
/********************************  Font Styles  *******************************/
/******************************************************************************/

@font-face {
    font-family: "OpenSansBold";
    src: url('../Assets/Fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url('../Assets/Fonts/OpenSans-BoldItalic.ttf');
}
@font-face {
    font-family: "OpenSansExtraBold";
    src: url('../Assets/Fonts/OpenSans-ExtraBold.ttf');
}
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url('../Assets/Fonts/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: "OpenSansItalic";
    src: url('../Assets/Fonts/OpenSans-Italic.ttf');
}
@font-face {
    font-family: "OpenSansLight";
    src: url('../Assets/Fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: "OpenSansLightItalic";
    src: url('../Assets/Fonts/OpenSans-LightItalic.ttf');
}
@font-face {
    font-family: "OpenSansRegular";
    src: url('../Assets/Fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "OpenSansSemibold";
    src: url('../Assets/Fonts/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: "OpenSansSemiboldItalic";
    src: url('../Assets/Fonts/OpenSans-SemiboldItalic.ttf');
}

/******************************************************************************/
/******************************  Position Styles  *****************************/
/******************************************************************************/

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

/******************************************************************************/
/*******************************  Layout Styles  ******************************/
/******************************************************************************/

.fullHeight {
    height: 100%;
}

.padding20 {
    padding: 20px;
    box-sizing: border-box;
}
.padding30 {
    padding: 30px;
    box-sizing: border-box;
}
.padding40 {
    padding: 40px;
    box-sizing: border-box;
}

/******************************************************************************/
/*******************************  Effect Styles  ******************************/
/******************************************************************************/

.animateBrief {
    transition: all 0.3s;
}
