<div id="header" class="pull-left">
    <div id="controls" class="pull-right">
        <ul class="pull-right">
            <li id="windowLanguage"></li>
            <li id="windowSettings"></li>
            <li id="windowMute"></li>
            <li id="windowMinimize">&mdash;</li>
            <li id="windowClose">X</li>
        </ul>
    </div>

    <!--
        wrap the contents of sections in a content/wrapper solution for
        producing an equal width without using padding
    -->
    <div class="wrapper padding30 fullHeight">
        <div id="headerImage" class="fullHeight">
            <div id="playButton" class="pull-right animateBrief"></div>
        </div>
    </div>
</div>
